<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application</title>
</head>
<body>

<div>
    <h1>ADD NEW BOOK</h1>

    <form th:action="@{/books}" method="post">
        <label>Title</label>
        <input type="text" th:value="${title}" name="title"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <label>ISBN</label>
        <input type="text" th:value="${isbn}" name="isbn"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <label> Author First Name</label>
        <input type="text" th:value="${firstName}" name="firstName"/>
        <label>Author Last Name</label>
        <input type="text" th:value="${lastName}" name="lastName"/>
        <div style="clear: both; display: block; height: 10px;"></div>
        <button type="submit">Save</button>
    </form>
<table>
    <tr>
        <th>ID</th>
        <th>BOOK</th>
        <th>ISBN</th>
        <th>AUTHORS</th>

    </tr>
    <tr th:each="book:${books}">
        <td th:text="${book.id}">id</td>
        <td th:text="${book.title}">title</td>
        <td th:text="${book.isbn}">isbn</td>
        <td> <a href="/authors">authors</a></td>
    </tr>
</table>
</div>

</body>
</html>